$border-gray: #f4f4f4;
$cta-gray: #e8eaec;
$cta-hover-gray: #c4c9cc;
$cta-blue: #0079bf;
$cta-blue-hover: #1138cc;
$standard-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.05);
$light-border: 1px solid rgba(0, 0, 0, 0.2);
