$border-gray: #f4f4f4;
$button-border-gray: rgba(0, 0, 0, 0.2);
$cta-gray: #e8eaec;
$cta-hover-gray: #c4c9cc;
$cta-blue: #3f00ff;
$cta-blue-hover: #191970;
$standard-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.05);
$light-border: 1px solid rgba(0, 0, 0, 0.2);
$heading-2: 1.25rem;
