@import "./base.scss";

.container {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  overflow-x: auto;
  min-height: 70vh;
}

.addList {
  background-color: $border-gray;
  padding: 0.875rem;
  font-size: 0.875rem;
  font-weight: 700;
  margin-right: 1rem;
  width: 150px;
  height: 3.125rem;
  flex-shrink: 0;
}

.listcard {
  min-height: 100px;
  min-width: 100%;
}
