@import "./base.scss";

.wrapper {
  width: 300px;
  flex-shrink: 0;
  background-color: #fbfbfb;
  padding: 0.5rem;
  border-radius: 10px;
  + .wrapper {
    margin-left: 1rem;
  }

  &.dragged {
    opacity: 0.2;
  }
}

.header {
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 3.125rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;

  h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: -1px;
  }

  .close {
    padding: 0;
    margin: 0;
    background-color: transparent;

    &:hover {
      border: none;
      box-shadow: none;
    }
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}

.add {
  width: 100%;
  background-color: $border-gray;
}
