@import "./base.scss";

.wrapper {
  width: 300px;
  flex-shrink: 0;

  border-radius: 10px;
  cursor: pointer;
  + .wrapper {
    margin-left: 1rem;
  }

  &.dragged {
    opacity: 0.2;
  }

  .newCardFormInactive {
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }

  .newCardFormActive {
    opacity: 1;
    height: auto;
    width: auto;
    pointer-events: all;
  }

  .hiddenButton {
    visibility: hidden;
    display: none;
  }

  .taskInput {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    color: black;
    padding: 0.575rem 1rem;
    margin-bottom: 1rem;
    border: 1px dashed $button-border-gray;

    &:focus,
    &:focus-visible {
      border: 1px dashed blue;
      outline: none;
    }
  }
}

.header {
  background-color: #f4f4f4;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 3.125rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;

  h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .close {
    padding: 0;
    margin: 0;
    background-color: transparent;

    &:hover {
      border: none;
      box-shadow: none;
    }
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}

.add {
  width: 100%;
  background-color: white;
  transition: all 0.2s ease-in-out;
  border: 1px dashed $button-border-gray;
  color: black;
  padding: 1rem;
}
