@import "./base.scss";

.container {
  display: flex;
  align-items: flex-start;
  padding: 0 2rem;
  overflow-x: auto;
  min-height: 70vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $border-gray;

  h2 {
    font-size: $heading-2;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
  }

  .headerbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.addList {
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  width: 150px;
  flex-shrink: 0;
  color: black;
  border: 1px dashed $button-border-gray;
  background-color: transparent;
}

.listcard {
  min-height: minmax(100px, auto);
  min-width: 100%;
}

.deleteModal {
  padding: 2rem;
  min-width: 350px;
  box-shadow: $standard-shadow;
  border-radius: 6px;
  h2 {
    font-size: $heading-2;
    padding-bottom: 1rem;
  }

  .buttonHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
