@import "./base.scss";
.button {
  width: 100%;
  transition: all 0.2s ease-in-out;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    outline: none;
    border: none;
  }

  &.small {
    width: 150px;
    font-size: 0.875rem;
  }

  &.primary {
    background-color: $cta-blue;

    svg {
      margin-right: 0.25rem;
      height: 1.25rem;
      width: 1.25rem;
    }

    &:hover {
      background-color: $cta-blue-hover;
    }
  }

  &.dashed {
    border: 1px dashed $button-border-gray;
    color: black;
    background-color: white;

    &:hover {
      border-color: $cta-blue;
      color: $cta-blue;
    }

    &.danger {
      color: $danger;
      border: 1px dashed $danger;

      &:hover {
        color: $danger-hover;
        border: 1px dashed $danger-hover;
      }
    }
    svg {
      height: 1rem;
      width: 1rem;
      margin-right: 0.125rem;
    }
  }
}
